@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model StackOverflowClone.Models.Answer

<h2>Add a new answer</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Text)
    @Html.EditorFor(model => model.Text)
    <input type="submit" value="Create" />
}
@Html.ActionLink("Back to List", "Index")